*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 5rem;
    background-color: black;
    color: beige;
}
.link{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}
.nav_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.4rem;
}
.nav_2{
    display: flex;
    gap: 1rem;
}
img{
    width: 300px;
}